body{
	background-color: rgb(230, 59, 59);
	height:100%;
	display: flex;
	flex-direction: row;
}
.maincontainer{
	display: flex;background-color: antiquewhite;
}
.msgholder{
	height: 70%;
	width: 100%;
	flex-direction: row;
	
}
.butsholder{
	display: flex;
	justify-content: space-between;
	background-color: aqua;
}
.tx{	
	//padding-left: 3vh;
	padding-right: 3vh;
	background-color: transparent;
	stroke: aqua;
	padding-top: 3vh;
	align-items: center;
	text-align: center;
	overflow: hidden;
	//font-size: 4.3vh;
}
.tx:hover{
	
	//background-color: yellow;
	.hid{
		visibility: visible;
	}
}
.msgss{
	color: black;
}
.ms{
	background-color: azure;
}